{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Flasky | Home{% endblock %}
{% block content %}
<div class="container">
  {% block page_content %}
  <h1>Hello,
    {% if current_user.is_authenticated %}
      {{ current_user.username }}
    {% else %}
      Stranger
    {% endif %}!
  </h1>
  {% if not known %}
  <h2>Pleased to meet you!</h2>
  {% else %}
  <h2>Happy to see you again!</h2>
  {% endif %}
  <p>User agent is: {{ua}}</p>
  <p>The local date and time is {{ moment(current_time).format('LLL') }}.</p>
  <p>That was {{ moment(current_time).fromNow(refresh=True) }}</p>
  {{wtf.quick_form(form)}}
  {% endblock %}
</div>
{% endblock %}
